In [105]:
import numpy as np
import csv
import pandas as pd
from leven import levenshtein

In [71]:
with open('log.csv') as logFile:
    file_read = csv.reader(logFile, delimiter=';')
    log_list = list(file_read)
df = pd.DataFrame(log_list)

In [72]:
df = df.drop(columns=[3]) #Delete empty columns from df.
df.head()

                                0              1                 2
0  TimeStamp: 2022-01-06 08:22:06  Trace ID: 929  Activity Name: A
1  TimeStamp: 2022-01-06 09:11:17  Trace ID: 929  Activity Name: B
2  TimeStamp: 2022-01-06 10:02:05  Trace ID: 929  Activity Name: D
3  TimeStamp: 2022-01-06 11:40:40  Trace ID: 929  Activity Name: E
4  TimeStamp: 2022-01-06 12:59:57  Trace ID: 929  Activity Name: G

In [80]:
traces = df[1].unique() #Single out unique traces.
print(traces)

['Trace ID: 929' 'Trace ID: 930' 'Trace ID: 931' 'Trace ID: 932'
 'Trace ID: 933' 'Trace ID: 934' 'Trace ID: 935' 'Trace ID: 936'
 'Trace ID: 937' 'Trace ID: 938' 'Trace ID: 939' 'Trace ID: 940'
 'Trace ID: 941' 'Trace ID: 942' 'Trace ID: 943' 'Trace ID: 944'
 'Trace ID: 945' 'Trace ID: 946' 'Trace ID: 947' 'Trace ID: 948']

In [111]:
#Excpect two different dataframes with same size as input. Each containing a trace. IDs represent trace Ids.
def distance(df1, df2, df1_id, df2_id):
    num_cols = len(df1.columns)
    nums_rows = len(df1)
    #print(f"Df1 size is columns: {num_cols} rows:{nums_rows}")
    res_list = []
    for row in range(nums_rows):
        temp_res = []
        for  col in range(num_cols):
            df1.iloc[row][col]
            df2.iloc[row][col]
            #print(levenshtein(df1.iloc[row][col],df2.iloc[row][col]))
            temp_res.append(levenshtein(df1.iloc[row][col],df2.iloc[row][col]))
        res_list.append(temp_res)
    return res_list

In [114]:
distance(df.loc[df[1] == 'Trace ID: 930'], df.loc[df[1] == 'Trace ID: 930'],'Trace ID: 940','Trace ID: 930')
#Runner Block and building distance matrix with n*n Size

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]